<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxj.mine">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name=".mine.MineActivity" />
        <activity android:name=".mycoin.MyCoinActivity" />
        <activity android:name=".mycollect.MyCollectActivity" />
        <activity android:name=".myshare.MyShareActivity" />
    </application>
</manifest>